<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="jsConf_test1" value="1"/>
    <add key="test2" value="2"/>
    <add key="conf_test3" value="hello"/>
    <add key="CODE_Visitor_1" value="120001" />
    <add key="CODE_Visitor_2" value="120002" />
    <add key="CODE_Visitor_3" value="120003" />

    <add key="CODE_Order_1" value="113001" />
    <add key="CODE_Order_2" value="113002" />
    <add key="CODE_Order_3" value="113003" />

    <add key="CODE_Base_1" value="108001" />
    <add key="CODE_Base_2" value="108002" />
    <add key="CODE_Base_3" value="108003" />
  </appSettings>
</configuration>